<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bogz.rpengine_Wots" android:versionCode="1" android:versionName="0.1" android:installLocation="preferExternal">
  <uses-sdk android:minSdkVersion="21" />
  <application android:label="Wots" android:icon="@drawable/Icon">
    <meta-data android:name="com.google.android.gms.games.APP_ID"
      android:value="348200509402" />
    <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>
  </application>
</manifest>